@font-face {
    font-family: "Roboto";
    src: url("res/Roboto-Medium.ttf");
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Roboto";
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
    display: inline-block;
}
a:hover{
    color: white;
}
header{
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0 ;
    background-color: #da9fb3;
    width: 100%;
    height: 30px;
    margin: 0px;
    text-align: center;
    transition: 0.5s;
    height: 50px;
}
main{
    margin: 10px;
}
.title{
    float: left;
}
.sla-porra{
    float: right;
}
.livros {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.livros img {
    width: 400px;
}
@media only screen and (max-width: 1080px) {
    body {
      font-size: xx-large;
    }
    header {
        height: 100px;
    }
    .livros {
        grid-template-columns: auto auto;
    }
}