@charset "UTF-8";

@font-face {
    font-family: roboto;
	src: url(../fonte/RobotoSlab-Regular.ttf);
}
@font-face {
	font-family: fredoka;
	src: url(../fonte/FredokaOne-Regular.ttf);
}

body {
	text-align: left;
  }

.Container {
	display: grid;
	align-items: center;
	grid-template-areas: 
		"Bloco1"
		"Bloco2"
		"Bloco3"
		"Bloco4"		
		"Bloco5";
	width: 100%;
	height: 100vh;
    background-color: rgb(255, 255, 255);      
}
/*											Bloco 1 - Menu			 */

.Bloco1 {
	grid-area: Bloco1;
	width: 100%;
	align-self: stretch;	
}

.topnav {
	overflow: hidden;
	background-color: rgb(90, 90, 90);
  }
  
  .topnav a {
	float: left;
	display: block;
	font-family: 'roboto', Arial, sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bolder;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .active {
	width: 110px;
	height: 23px;
	margin-right: 2%;
	background-image: url("../fotos/logo.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(37, 36, 36);
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }

  .topnav .icon img {
	  width: 20%;
  }
  
	@media only screen and ( max-width: 1080px) {

		.topnav a:not(:first-child) {
			display: none;
		}

		.topnav a {
			padding: 28px 28px;
			text-decoration: none;
			font-size: 34px;
		}

		.topnav a.icon {
			float: right;
			display: block;
		}

		.topnav .icon img {
			width: 40%;
		}

		.topnav.responsive {
			position: relative;
		}

		.topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
			text-align: center;
		}
		
		.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}

		.active {
			visibility: hidden;
		}			
  }
								
/*											Bloco 2 - Banner			 */

.Bloco2 {
	grid-area: Bloco2;
	align-self: stretch;
	text-align: center;
}

.banner {
	padding: 16vw 0vw 16vw;
	background-image: url("../fotos/banner2.jpg");
	background-position: center;
	background-size: cover;
	z-index: -1;
}

	.banner :last-child {
		margin-bottom: 0;
	}

	.banner h2 {
		color: #ffffff;
		text-shadow: 2px 2px 0px rgb(0, 0, 0);
		font-size: 4vw;
		line-height: 1,25vw;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

	.banner p {
		color: #ffffff;
		text-shadow: 2px 2px 0px rgb(0, 0, 0);
		font-size: 2.5vw;
		margin-bottom: 1.75vw;
		text-align: center;
	}

@media only screen and ( max-width: 1080px) {
	.banner h2 {
		text-shadow: 4px 4px 0px rgb(0, 0, 0);
		font-size: 6.5vw;
		line-height: 2.5vw;
	}

	.banner p {
		text-shadow: 4px 4px 0px rgb(0, 0, 0);
		font-size: 4.5vw;
		margin-bottom: 2.5vw;
	}

}

/*		Bloco 3 - Corpo			 */

.Bloco3 {
	grid-area: Bloco3;
	align-self: stretch;
	font-family: 'roboto', Arial, sans-serif;
	line-height: 45px;
	background-color: rgb(250, 250, 250);
}

.divProduto {
	display: inline-block;
	margin-left: 10%;
	margin-top: 2%;
	padding: 2%;
	width: 80%;
}

.divProduto h1, legend {
	font-size: 30px;
	color: rgb(70, 70, 70);
	text-shadow: 2px 2px 0px rgb(245, 245, 245);
	font-weight: bold;

}

.divProduto fieldset {
	margin-top: 2%;
	background-image: url(../fotos/novasaveiro1000x550.jpg);
	/* background-image: url(../fotos/novospacefox1000x550.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
}

.divProduto legend {
	margin-bottom: 2%;
}

.divProduto p, li, textarea, input {
	font-size: 20px;
	color: rgb(70, 70, 70);
	text-shadow: 2px 2px 0px rgb(245, 245, 245);
	text-align: justify;
	font-weight: bold;
	text-indent: 3vw;
}

.divProduto textarea, input {
	margin-bottom: 2%;
	text-indent: 0%;
	padding: 1%;
}


@media only screen and ( max-width: 1080px) {

	.Bloco3 {
		line-height: 90px;
	}	

	.divProduto {
		margin-left: 5%;
	}

	.divProduto h1 {
		font-size: 60px;
		text-shadow: 4px 4px 0px rgb(245, 245, 245);
	}
	
	.divProduto p, li, textarea, input {
		font-size: 35px;
		text-shadow: 4px 4px 0px rgb(245, 245, 245);
		text-indent: 4vw;
	}

	.divProduto textarea, input {
		width: 80%;
	}
}

/*											Bloco 4 - Rodapé			 */

.Bloco4 {
	grid-area: Bloco4;
	background-color: rgb(37, 36, 36);	
	align-self: stretch;	
	text-align: center;
	padding: 6%;
}

.divLinkBlog h1, h2 {
    font-family: 'fredoka', serif;
    font-size: 3vw;
    font-weight: lighter;
	color: #ffffff;
	/* margin-right: 10%; */
}

.divLinkBlog h1 {
    font-size: 5vw;
}

.divLinkBlog a {
	font-family: 'fredoka', serif;
	font-size: 2vw;
	color: #ffffff;
	text-decoration: none;          
}

.divLinkBlog a:hover {
	animation: btn-animation 1s ease-out forwards;
	color: rgb(180, 177, 177);
}

@media only screen and ( max-width: 1080px) {
	.divLinkBlog h1, h2 {
		font-size: 4.7vw;
	}
	
	.divLinkBlog h1 {
		font-size: 8vw;
	}
	
	.divLinkBlog a {
		font-size: 3.5vw;     
	}
}

/*											Album de Fotos			 */

ul#album-fotos 
{
  width: 100%;
  margin: 0 auto;
  padding: 3%;
  overflow: hidden;
  list-style: none;
}
ul#album-fotos  li span
{
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0,0,0,.3);
  font-size: 2vw;
  line-height: 1100%;
  padding: 3%;
}
ul#album-fotos  li:hover
{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
ul#album-fotos  li:hover span
{
  opacity: 1;
}
ul#album-fotos li
{
  float: left;
  width: 48%;
  height: 30%;
	margin-bottom: 3%;
	margin-right: 1%;
  border: 1% solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in; 
  -ms-transition: all .4s ease-in; 
}	
ul#album-fotos li#foto01
{
  background: url('../fotos/amarok1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto01:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}	
ul#album-fotos li#foto02
{
  background: url('../fotos/dusterdakar1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto02:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}	
ul#album-fotos li#foto03
{
  background: url('../fotos/novovoyage1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto03:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}	
ul#album-fotos li#foto04
{
  background: url('../fotos/novospacefox1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto04:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}
ul#album-fotos li#foto05
{
  background: url('../fotos/novogol1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto05:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}
ul#album-fotos li#foto06
{
  background: url('../fotos/novasaveiro1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto06:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}

ul#album-fotos li#foto07
{
  background: url('../fotos/virtus1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto07:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}

ul#album-fotos li#foto08
{
  background: url('../fotos/up1000x550.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-color: #ffffff;
}
ul#album-fotos li#foto08:hover
{
  background-position: 0% 0%;
  background-size: 100% 100%;
}	